body{
	box-sizing: border-box;
}

.container{
	padding: 0.3rem 1rem;
	margin-top: 8%;
	margin-left: 28%;
	width: 690px;
	height: 460px;
	background-color: white;
	box-shadow: 0 0 10px 2px rgba(100,100,100,0.2); 
	border-radius: 3px;
}

.container .header{
	margin-left: 20px;
}

.questions{
	padding: 0;

}

.questions label{
	font-size: 20px;
	line-height: 4vh;
	padding: 3px 3px;
}

.questions ul{
	list-style-type: none;
	padding: 0;
}

#btn1{
	text-decoration: none;
	outline: none;
	background-color: #b7950b;
	color: white;
	padding: 1rem;
	width: 100%;
	cursor: pointer;
	margin-top: 2.5rem;
	border: none;
	display: block;
	font-size: 20px;
}

#btn1:hover{
	background-color: #d4ac0d;
	transform: scale(0.96);
}

button{
	background-color: #24a0ed;
	cursor: pointer;
	outline: none;
	font-style: none;
	font-size: 18px;
	white-space: pre;
	border: none;
	margin-bottom: 0.5rem;
	color: white;
}

button:hover{
	background-color: #24a0ed;
	color: white;
	transform: scale(0.94);
}

span{
	margin-left: 4.5rem;
	font-size: 25px;
	line-height: 4rem;
	font-style: none;
	font-weight: bold;
	font-family: sans-serif;
}

#result{
	color: #32cd32;
}

#result2{
	color: #cc0000;
}


